/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 

p {
    font-size: 18px;
}

.footer-col h2 {
    margin-top: 0.5rem !important;
}

.site-title::before {
	content: url("/images/small_logo.png");
	display: inline-block;
	position: relative;
	width: 45px;
	top: 10px;
}
